# Ignore compiled binary
/s3auditor

# Ignore any executables without extension
*
!*.*
!*/
!.github/**

# Don't ignore go.mod and go.sum
!go.mod
!go.sum

# Ignore common Go build and test files
*.exe
*.test
*.out

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Don't ignore docs folder
!docs/

.env

# Ignore AWS policy files
*-policy.json
